<!DOCTYPE html>
<html>
    <link href="/stylesheets/finder.css" rel="stylesheet" type="text/css">
<head>

</head>

<body>
<h1>You have successfully accepted the following friends</h1>
{{#each people}}
<p class="person">{{this}}</p>
{{/each}}
<p class="above-back">Go back to the main page.</p>
<form action="/finder", method="POST">
    <input type="hidden" name="name" id="name" value="{{name}}">
    <input type="hidden" name="password" id="password" value="{{password}}">
    <br><div style="text-align: center;"><input type="submit" value="Back to Main"></div>
</form>
</body>
</html>