<!DOCTYPE html>
<html>
    <head>
        <link href="/stylesheets/finder.css" rel="stylesheet" />
    </head>
    <body>
        <h1>Welcome to Find Friends!</h1>
        <p>Our mission is to help you find your friends. We do this by allowing our users to send 
        friend requests to each other. Based on who is friends with who, our social network of friends
        recommends people you can contact who are closer to you on the social network. Put simply,
        you can contact those who are friends with your friends! <a href="/login">Login here to see your friend network</a>
        </p>
        <img src="https://images.pexels.com/photos/163064/play-stone-network-networked-interactive-163064.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" width="300" height="200" class="image">
    </body>
</html>
