<!DOCTYPE>
<html>
    <head>
        <meta charset="utf-8">
        <link href="/stylesheets/finder.css" rel="stylesheet">
        <link href="/stylesheets/users.css", rel="stylesheet">
    </head>
    <body>
        <h1>{{name}}</h1>

        <div class="phone">
        <h2>Phone Number</h2>
        <p>{{phone}}</p>
        </div>

        <div class="bio">
        <h2>My Interests</h2>
        <p>{{bio}}</p>
        </div>

    </body>
</html>