<!DOCTYPE>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>{{name}}</h1>
        <h3>Phone Number</h3>
        <p>{{phone}}</p>
        <h3>My Interests</h3>
        <p>{{bio}}</p>
    </body>
</html>