body{
    text-align: center;
    font-size: 1.3em;
    line-height: 1.7em;
    width: 40%;
    height: 40%;
    margin: auto auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 40px;
    background-color:bisque;
    padding-bottom: 40px;
}

html{
    background-color:darkcyan;
}

input[type="submit"]{
    font-size: 0.9em; 
    border-radius: 8px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:whitesmoke;
    text-align: center;
}